footer {
    height: 300px;
    background: $colorcuatro;
    font-family: cursive;
    font-size: 25px;
    h3 {
        margin-bottom: 1rem;
        text-align: center;
    }
    li {
        
        text-align: center;
        list-style-type: none;
    }
    p {
        text-align: end;
    }

    a {
        &:hover{ color: aquamarine;}
        &:active{color: red;}
        &:visited {color: tomato;}
    }
    .boton {
        
            border: 4px solid blueviolet; 
            padding: 10px; 
            background-color: wheat;
            color:black; 
            text-decoration: none; 
            text-transform: uppercase; 
            font-family: 'Helvetica', sans-serif;
            border-radius: 50px;
            
    }

}
