main {
    height: 300px;
    background: $colortres;
    h1 {
        font-size: 30px;
    }
    h2 {
        margin-left: 1rem;
    }
    p {
        margin-top: 2rem;
        font-style: oblique;
        font-size: 20px;
    }
}