@import "variables"; 
@import "header";
@import "main";
@import "footer";
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 1200px;
    margin: 40px auto;
}

